.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
    border: 1px solid white;
}

.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    border: 1px solid white;
}

.student p {
    font-size:25px;
    font-weight: bold;
    color: white;
}

.card button {
    margin: 5px;
    height: 50px;
    border-radius: 5px;
    font-size:20px;
    font-weight: bold;
}

.card button:nth-child(2) {
    background-color: #27ae60;
    color: black;
}

.card button:hover {
    cursor: pointer;
}