.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #0D202B;
    border-radius: 10px;
}

.containerCard p {
    font-size:30px;
    font-weight: bold;
    color: white;
}

@media (max-width: 400px) {
    .containerCard {
        width: 80%;
        margin: 10px;
    }
    
}